@use "styles/media.scss";

.section {
  width: 100vw;
}

.content {
  max-width: 1120px;
  margin-inline: auto;
}

.content.contentLg {
  max-width: 1280px;
}

@include media.phone {
  .section {
    padding-inline: 1rem;
  }

  .section.noPadding {
    padding: 0;
  }
}
