@use "styles/media.scss";

.section {
  --default-padding: 5rem;
  padding-inline: var(--default-padding);
  width: 100vw;
}

.section.doublePadding {
  padding-inline: calc(var(--default-padding) * 2);
}

@include media.phone {
  .section,
  .section.doublePadding {
    padding-inline: 1rem;
  }
}
